@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playball&display=swap');

@tailwind base;
  @tailwind components;
  @tailwind utilities;

/* * {
  color: black;
} */

body {
  @apply text-sm
}

.glass {
background: rgba(20, 20, 20, 0.9);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0);
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.playball-regular {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}


/* Tailwind CSS */
@media (min-width: 1024px) {
  .modal {
    display: block;
  }
}

@media (max-width: 1023px) {
  .modal {
    display: none;
  }
}


